@import "tailwindcss";

@theme {
  --color-background: #0a2e1c;
  --color-cards: #103826;
  --color-greensecondary: #1c442e;
  --color-gray: #e5e5e5;
}

body {
  background: var(--color-background);
  color: var(--color-gray);
  font-family: Arial, Helvetica, sans-serif;
}
